<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject3.dao.InquiryDao">

  <select id="getInquiryTotRecCnt" resultType="int">
  		select count(*) from inquiry;
  </select>

  <select id="getInquiryList" resultType="com.spring.springProject3.vo.InquiryVo">
  		select * from inquiry order by idx desc limit #{startIndexNo},#{pageSize};
  </select>
  
  <select id="getInquiryDetail" resultType="com.spring.springProject3.vo.InquiryVo">
  		select * from inquiry where idx = #{idx};
  </select>
  
  
  <insert id="setInquiryInputOk">
  		insert into inquiry values (default,#{vo.mid},#{vo.title},#{vo.part},default,#{vo.reservation},#{vo.content},#{vo.fSName},default);
  </insert>
  
  
  
  
  <delete id="setInquiryDelete">
  		delete * from inquiry where idx = #{idx};
  </delete>
</mapper>